.content {
    width: 100%;
  }
  
  .content > div {
    flex: 0 0 auto;
    position: absolute;
    width: 100%;
    min-width: 8px;  /* Optional: keeps the div from becoming too narrow on smaller screens */
    max-width: 20px;  /* Optional: keeps the div from becoming too wide on larger screens */
    height: 0px;
    max-height: 20px; 
    transform-origin: 50% 50% 0px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    line-height: 2%;
    padding: calc(12px + 3vmin);
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    background: linear-gradient(45deg, #fce5ff, #cde7fe);  /* lightblue; */
    text-transform: uppercase;
    touch-action: none;
  }
